ServiciosDynamics.WebApi/Web References/WSDGArchivo/WSDGArchivo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="obtenerIdArchivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_application" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_category" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_labels" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerIdArchivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerIdArchivoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubirArchivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_nombreArchivo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubirArchivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubirArchivoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="obtenerIdArchivoSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerIdArchivo" />
  </wsdl:message>
  <wsdl:message name="obtenerIdArchivoSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerIdArchivoResponse" />
  </wsdl:message>
  <wsdl:message name="SubirArchivoSoapIn">
    <wsdl:part name="parameters" element="tns:SubirArchivo" />
  </wsdl:message>
  <wsdl:message name="SubirArchivoSoapOut">
    <wsdl:part name="parameters" element="tns:SubirArchivoResponse" />
  </wsdl:message>
  <wsdl:portType name="WSDGArchivoSoap">
    <wsdl:operation name="obtenerIdArchivo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene el id encriptado del arhcivo</wsdl:documentation>
      <wsdl:input message="tns:obtenerIdArchivoSoapIn" />
      <wsdl:output message="tns:obtenerIdArchivoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubirArchivo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Busca archivo de la carpeta repositorio y lo carga a digitalización</wsdl:documentation>
      <wsdl:input message="tns:SubirArchivoSoapIn" />
      <wsdl:output message="tns:SubirArchivoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDGArchivoSoap" type="tns:WSDGArchivoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerIdArchivo">
      <soap:operation soapAction="http://tempuri.org/obtenerIdArchivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubirArchivo">
      <soap:operation soapAction="http://tempuri.org/SubirArchivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDGArchivoSoap12" type="tns:WSDGArchivoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerIdArchivo">
      <soap12:operation soapAction="http://tempuri.org/obtenerIdArchivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubirArchivo">
      <soap12:operation soapAction="http://tempuri.org/SubirArchivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSDGArchivo">
    <wsdl:port name="WSDGArchivoSoap" binding="tns:WSDGArchivoSoap">
      <soap:address location="http://10.0.3.75/ws/WSDGArchivo.asmx" />
    </wsdl:port>
    <wsdl:port name="WSDGArchivoSoap12" binding="tns:WSDGArchivoSoap12">
      <soap12:address location="http://10.0.3.75/ws/WSDGArchivo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>