ServiciosDynamics.WebApi/Web References/WSEmpleados/WSEmpleados.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="existeEmpleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_emplId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="existeEmpleadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="existeEmpleadoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="familiares">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_emplId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_nombreFamiliar" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_genero" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_relacion" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_fechaNacimiento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_usuarioOracle" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="familiaresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="familiaresResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delfamiliares">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_emplId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delfamiliaresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="delfamiliaresResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updEmplInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_emplId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_torre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_oficina" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_extension" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updEmplInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updEmplInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="existeEmpleadoSoapIn">
    <wsdl:part name="parameters" element="tns:existeEmpleado" />
  </wsdl:message>
  <wsdl:message name="existeEmpleadoSoapOut">
    <wsdl:part name="parameters" element="tns:existeEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="familiaresSoapIn">
    <wsdl:part name="parameters" element="tns:familiares" />
  </wsdl:message>
  <wsdl:message name="familiaresSoapOut">
    <wsdl:part name="parameters" element="tns:familiaresResponse" />
  </wsdl:message>
  <wsdl:message name="delfamiliaresSoapIn">
    <wsdl:part name="parameters" element="tns:delfamiliares" />
  </wsdl:message>
  <wsdl:message name="delfamiliaresSoapOut">
    <wsdl:part name="parameters" element="tns:delfamiliaresResponse" />
  </wsdl:message>
  <wsdl:message name="updEmplInfoSoapIn">
    <wsdl:part name="parameters" element="tns:updEmplInfo" />
  </wsdl:message>
  <wsdl:message name="updEmplInfoSoapOut">
    <wsdl:part name="parameters" element="tns:updEmplInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="WSEmpleadosSoap">
    <wsdl:operation name="existeEmpleado">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Valida que el empleado exista</wsdl:documentation>
      <wsdl:input message="tns:existeEmpleadoSoapIn" />
      <wsdl:output message="tns:existeEmpleadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="familiares">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ingresa la informacion de los familiares del empleado</wsdl:documentation>
      <wsdl:input message="tns:familiaresSoapIn" />
      <wsdl:output message="tns:familiaresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delfamiliares">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Elimina el detalle de familiares</wsdl:documentation>
      <wsdl:input message="tns:delfamiliaresSoapIn" />
      <wsdl:output message="tns:delfamiliaresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updEmplInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Actualiza la información del empleado</wsdl:documentation>
      <wsdl:input message="tns:updEmplInfoSoapIn" />
      <wsdl:output message="tns:updEmplInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSEmpleadosSoap" type="tns:WSEmpleadosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="existeEmpleado">
      <soap:operation soapAction="http://tempuri.org/existeEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="familiares">
      <soap:operation soapAction="http://tempuri.org/familiares" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delfamiliares">
      <soap:operation soapAction="http://tempuri.org/delfamiliares" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updEmplInfo">
      <soap:operation soapAction="http://tempuri.org/updEmplInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSEmpleadosSoap12" type="tns:WSEmpleadosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="existeEmpleado">
      <soap12:operation soapAction="http://tempuri.org/existeEmpleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="familiares">
      <soap12:operation soapAction="http://tempuri.org/familiares" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delfamiliares">
      <soap12:operation soapAction="http://tempuri.org/delfamiliares" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updEmplInfo">
      <soap12:operation soapAction="http://tempuri.org/updEmplInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSEmpleados">
    <wsdl:port name="WSEmpleadosSoap" binding="tns:WSEmpleadosSoap">
      <soap:address location="http://srvdynamicsdesa/ws/WSEmpleados.asmx" />
    </wsdl:port>
    <wsdl:port name="WSEmpleadosSoap12" binding="tns:WSEmpleadosSoap12">
      <soap12:address location="http://srvdynamicsdesa/ws/WSEmpleados.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>