ServiciosDynamics.WebApi/Web References/WSEmpleados/WSEmpleados.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="existeEmpleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_emplId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="existeEmpleadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="existeEmpleadoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="familiares">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_emplId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_nombreFamiliar" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_genero" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_relacion" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_fechaNacimiento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_usuarioOracle" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="familiaresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="familiaresResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delfamiliares">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_emplId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delfamiliaresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="delfamiliaresResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updEmplInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_emplId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_torre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_oficina" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_extension" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updEmplInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updEmplInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fechaDPI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_cui" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fechaDPIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fechaDPIResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="existeEmpleadoSoapIn">
    <wsdl:part name="parameters" element="tns:existeEmpleado" />
  </wsdl:message>
  <wsdl:message name="existeEmpleadoSoapOut">
    <wsdl:part name="parameters" element="tns:existeEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="familiaresSoapIn">
    <wsdl:part name="parameters" element="tns:familiares" />
  </wsdl:message>
  <wsdl:message name="familiaresSoapOut">
    <wsdl:part name="parameters" element="tns:familiaresResponse" />
  </wsdl:message>
  <wsdl:message name="delfamiliaresSoapIn">
    <wsdl:part name="parameters" element="tns:delfamiliares" />
  </wsdl:message>
  <wsdl:message name="delfamiliaresSoapOut">
    <wsdl:part name="parameters" element="tns:delfamiliaresResponse" />
  </wsdl:message>
  <wsdl:message name="updEmplInfoSoapIn">
    <wsdl:part name="parameters" element="tns:updEmplInfo" />
  </wsdl:message>
  <wsdl:message name="updEmplInfoSoapOut">
    <wsdl:part name="parameters" element="tns:updEmplInfoResponse" />
  </wsdl:message>
  <wsdl:message name="fechaDPISoapIn">
    <wsdl:part name="parameters" element="tns:fechaDPI" />
  </wsdl:message>
  <wsdl:message name="fechaDPISoapOut">
    <wsdl:part name="parameters" element="tns:fechaDPIResponse" />
  </wsdl:message>
  <wsdl:message name="existeEmpleadoHttpGetIn">
    <wsdl:part name="_emplId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="existeEmpleadoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="familiaresHttpGetIn">
    <wsdl:part name="_emplId" type="s:string" />
    <wsdl:part name="_nombreFamiliar" type="s:string" />
    <wsdl:part name="_genero" type="s:string" />
    <wsdl:part name="_relacion" type="s:string" />
    <wsdl:part name="_fechaNacimiento" type="s:string" />
    <wsdl:part name="_usuarioOracle" type="s:string" />
  </wsdl:message>
  <wsdl:message name="familiaresHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="delfamiliaresHttpGetIn">
    <wsdl:part name="_emplId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="delfamiliaresHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="updEmplInfoHttpGetIn">
    <wsdl:part name="_emplId" type="s:string" />
    <wsdl:part name="_torre" type="s:string" />
    <wsdl:part name="_oficina" type="s:string" />
    <wsdl:part name="_extension" type="s:string" />
  </wsdl:message>
  <wsdl:message name="updEmplInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="fechaDPIHttpGetIn">
    <wsdl:part name="_cui" type="s:string" />
  </wsdl:message>
  <wsdl:message name="fechaDPIHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="existeEmpleadoHttpPostIn">
    <wsdl:part name="_emplId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="existeEmpleadoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="familiaresHttpPostIn">
    <wsdl:part name="_emplId" type="s:string" />
    <wsdl:part name="_nombreFamiliar" type="s:string" />
    <wsdl:part name="_genero" type="s:string" />
    <wsdl:part name="_relacion" type="s:string" />
    <wsdl:part name="_fechaNacimiento" type="s:string" />
    <wsdl:part name="_usuarioOracle" type="s:string" />
  </wsdl:message>
  <wsdl:message name="familiaresHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="delfamiliaresHttpPostIn">
    <wsdl:part name="_emplId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="delfamiliaresHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="updEmplInfoHttpPostIn">
    <wsdl:part name="_emplId" type="s:string" />
    <wsdl:part name="_torre" type="s:string" />
    <wsdl:part name="_oficina" type="s:string" />
    <wsdl:part name="_extension" type="s:string" />
  </wsdl:message>
  <wsdl:message name="updEmplInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="fechaDPIHttpPostIn">
    <wsdl:part name="_cui" type="s:string" />
  </wsdl:message>
  <wsdl:message name="fechaDPIHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="WSEmpleadosSoap">
    <wsdl:operation name="existeEmpleado">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Valida que el empleado exista</wsdl:documentation>
      <wsdl:input message="tns:existeEmpleadoSoapIn" />
      <wsdl:output message="tns:existeEmpleadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="familiares">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ingresa la informacion de los familiares del empleado</wsdl:documentation>
      <wsdl:input message="tns:familiaresSoapIn" />
      <wsdl:output message="tns:familiaresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delfamiliares">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Elimina el detalle de familiares</wsdl:documentation>
      <wsdl:input message="tns:delfamiliaresSoapIn" />
      <wsdl:output message="tns:delfamiliaresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updEmplInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Actualiza la información del empleado</wsdl:documentation>
      <wsdl:input message="tns:updEmplInfoSoapIn" />
      <wsdl:output message="tns:updEmplInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="fechaDPI">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obteiene la fecha de actualizacion de DPI</wsdl:documentation>
      <wsdl:input message="tns:fechaDPISoapIn" />
      <wsdl:output message="tns:fechaDPISoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSEmpleadosHttpGet">
    <wsdl:operation name="existeEmpleado">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Valida que el empleado exista</wsdl:documentation>
      <wsdl:input message="tns:existeEmpleadoHttpGetIn" />
      <wsdl:output message="tns:existeEmpleadoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="familiares">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ingresa la informacion de los familiares del empleado</wsdl:documentation>
      <wsdl:input message="tns:familiaresHttpGetIn" />
      <wsdl:output message="tns:familiaresHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="delfamiliares">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Elimina el detalle de familiares</wsdl:documentation>
      <wsdl:input message="tns:delfamiliaresHttpGetIn" />
      <wsdl:output message="tns:delfamiliaresHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="updEmplInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Actualiza la información del empleado</wsdl:documentation>
      <wsdl:input message="tns:updEmplInfoHttpGetIn" />
      <wsdl:output message="tns:updEmplInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="fechaDPI">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obteiene la fecha de actualizacion de DPI</wsdl:documentation>
      <wsdl:input message="tns:fechaDPIHttpGetIn" />
      <wsdl:output message="tns:fechaDPIHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSEmpleadosHttpPost">
    <wsdl:operation name="existeEmpleado">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Valida que el empleado exista</wsdl:documentation>
      <wsdl:input message="tns:existeEmpleadoHttpPostIn" />
      <wsdl:output message="tns:existeEmpleadoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="familiares">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ingresa la informacion de los familiares del empleado</wsdl:documentation>
      <wsdl:input message="tns:familiaresHttpPostIn" />
      <wsdl:output message="tns:familiaresHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="delfamiliares">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Elimina el detalle de familiares</wsdl:documentation>
      <wsdl:input message="tns:delfamiliaresHttpPostIn" />
      <wsdl:output message="tns:delfamiliaresHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="updEmplInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Actualiza la información del empleado</wsdl:documentation>
      <wsdl:input message="tns:updEmplInfoHttpPostIn" />
      <wsdl:output message="tns:updEmplInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="fechaDPI">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obteiene la fecha de actualizacion de DPI</wsdl:documentation>
      <wsdl:input message="tns:fechaDPIHttpPostIn" />
      <wsdl:output message="tns:fechaDPIHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSEmpleadosSoap" type="tns:WSEmpleadosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="existeEmpleado">
      <soap:operation soapAction="http://tempuri.org/existeEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="familiares">
      <soap:operation soapAction="http://tempuri.org/familiares" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delfamiliares">
      <soap:operation soapAction="http://tempuri.org/delfamiliares" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updEmplInfo">
      <soap:operation soapAction="http://tempuri.org/updEmplInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fechaDPI">
      <soap:operation soapAction="http://tempuri.org/fechaDPI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSEmpleadosSoap12" type="tns:WSEmpleadosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="existeEmpleado">
      <soap12:operation soapAction="http://tempuri.org/existeEmpleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="familiares">
      <soap12:operation soapAction="http://tempuri.org/familiares" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delfamiliares">
      <soap12:operation soapAction="http://tempuri.org/delfamiliares" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updEmplInfo">
      <soap12:operation soapAction="http://tempuri.org/updEmplInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fechaDPI">
      <soap12:operation soapAction="http://tempuri.org/fechaDPI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSEmpleadosHttpGet" type="tns:WSEmpleadosHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="existeEmpleado">
      <http:operation location="/existeEmpleado" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="familiares">
      <http:operation location="/familiares" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delfamiliares">
      <http:operation location="/delfamiliares" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updEmplInfo">
      <http:operation location="/updEmplInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fechaDPI">
      <http:operation location="/fechaDPI" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSEmpleadosHttpPost" type="tns:WSEmpleadosHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="existeEmpleado">
      <http:operation location="/existeEmpleado" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="familiares">
      <http:operation location="/familiares" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delfamiliares">
      <http:operation location="/delfamiliares" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updEmplInfo">
      <http:operation location="/updEmplInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fechaDPI">
      <http:operation location="/fechaDPI" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSEmpleados">
    <wsdl:port name="WSEmpleadosSoap" binding="tns:WSEmpleadosSoap">
      <soap:address location="http://10.0.3.71/ws/WSEmpleados.asmx" />
    </wsdl:port>
    <wsdl:port name="WSEmpleadosSoap12" binding="tns:WSEmpleadosSoap12">
      <soap12:address location="http://10.0.3.71/ws/WSEmpleados.asmx" />
    </wsdl:port>
    <wsdl:port name="WSEmpleadosHttpGet" binding="tns:WSEmpleadosHttpGet">
      <http:address location="http://10.0.3.71/ws/WSEmpleados.asmx" />
    </wsdl:port>
    <wsdl:port name="WSEmpleadosHttpPost" binding="tns:WSEmpleadosHttpPost">
      <http:address location="http://10.0.3.71/ws/WSEmpleados.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>