ServiciosDynamics.WebApi/Web References/WSFacturas/WSFacturas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="agregarFactura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_proveedor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_facturaserie" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_facturanumero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_fechafactura" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_descripcion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_monto" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="_iddetalle" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_typeStaff" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_usuariooracle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_noTramite" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="agregarFacturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agregarFacturaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validarFactura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_proveedor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_facturaserie" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_facturanumero" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validarFacturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="validarFacturaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validarFacturaNit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_nit" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_facturaserie" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_facturanumero" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validarFacturaNitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="validarFacturaNitResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="infoBancariaDocente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_codpers" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="infoBancariaDocenteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="infoBancariaDocenteResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validaEsDocente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_codpers" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validaEsDocenteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="validaEsDocenteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="agregarExension">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_autorizacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_refInterna" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_fechaAutorizacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_nit" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_facturaSerie" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_facturaNumero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_certificadorId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="agregarExensionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agregarExensionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="infoPagoFacturacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_origen" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_fecha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="infoPagoFacturacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="infoPagoFacturacionResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="infoPagoDetalle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_nomina" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_correlativo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="infoPagoDetalleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="infoPagoDetalleResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertHpagos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_nomina" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_correlativo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertHpagosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertHpagosResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertHpagosUgaDetalle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_nomina" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_correlativo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertHpagosUgaDetalleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertHpagosUgaDetalleResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deletePagosUgaDetalle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_nomina" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_correlativo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deletePagosUgaDetalleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deletePagosUgaDetalleResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deletePagosUga">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_nomina" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_correlativo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deletePagosUgaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deletePagosUgaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="boolean" type="s:boolean" />
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="agregarFacturaSoapIn">
    <wsdl:part name="parameters" element="tns:agregarFactura" />
  </wsdl:message>
  <wsdl:message name="agregarFacturaSoapOut">
    <wsdl:part name="parameters" element="tns:agregarFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="validarFacturaSoapIn">
    <wsdl:part name="parameters" element="tns:validarFactura" />
  </wsdl:message>
  <wsdl:message name="validarFacturaSoapOut">
    <wsdl:part name="parameters" element="tns:validarFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="validarFacturaNitSoapIn">
    <wsdl:part name="parameters" element="tns:validarFacturaNit" />
  </wsdl:message>
  <wsdl:message name="validarFacturaNitSoapOut">
    <wsdl:part name="parameters" element="tns:validarFacturaNitResponse" />
  </wsdl:message>
  <wsdl:message name="infoBancariaDocenteSoapIn">
    <wsdl:part name="parameters" element="tns:infoBancariaDocente" />
  </wsdl:message>
  <wsdl:message name="infoBancariaDocenteSoapOut">
    <wsdl:part name="parameters" element="tns:infoBancariaDocenteResponse" />
  </wsdl:message>
  <wsdl:message name="validaEsDocenteSoapIn">
    <wsdl:part name="parameters" element="tns:validaEsDocente" />
  </wsdl:message>
  <wsdl:message name="validaEsDocenteSoapOut">
    <wsdl:part name="parameters" element="tns:validaEsDocenteResponse" />
  </wsdl:message>
  <wsdl:message name="agregarExensionSoapIn">
    <wsdl:part name="parameters" element="tns:agregarExension" />
  </wsdl:message>
  <wsdl:message name="agregarExensionSoapOut">
    <wsdl:part name="parameters" element="tns:agregarExensionResponse" />
  </wsdl:message>
  <wsdl:message name="infoPagoFacturacionSoapIn">
    <wsdl:part name="parameters" element="tns:infoPagoFacturacion" />
  </wsdl:message>
  <wsdl:message name="infoPagoFacturacionSoapOut">
    <wsdl:part name="parameters" element="tns:infoPagoFacturacionResponse" />
  </wsdl:message>
  <wsdl:message name="infoPagoDetalleSoapIn">
    <wsdl:part name="parameters" element="tns:infoPagoDetalle" />
  </wsdl:message>
  <wsdl:message name="infoPagoDetalleSoapOut">
    <wsdl:part name="parameters" element="tns:infoPagoDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="insertHpagosSoapIn">
    <wsdl:part name="parameters" element="tns:insertHpagos" />
  </wsdl:message>
  <wsdl:message name="insertHpagosSoapOut">
    <wsdl:part name="parameters" element="tns:insertHpagosResponse" />
  </wsdl:message>
  <wsdl:message name="insertHpagosUgaDetalleSoapIn">
    <wsdl:part name="parameters" element="tns:insertHpagosUgaDetalle" />
  </wsdl:message>
  <wsdl:message name="insertHpagosUgaDetalleSoapOut">
    <wsdl:part name="parameters" element="tns:insertHpagosUgaDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="deletePagosUgaDetalleSoapIn">
    <wsdl:part name="parameters" element="tns:deletePagosUgaDetalle" />
  </wsdl:message>
  <wsdl:message name="deletePagosUgaDetalleSoapOut">
    <wsdl:part name="parameters" element="tns:deletePagosUgaDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="deletePagosUgaSoapIn">
    <wsdl:part name="parameters" element="tns:deletePagosUga" />
  </wsdl:message>
  <wsdl:message name="deletePagosUgaSoapOut">
    <wsdl:part name="parameters" element="tns:deletePagosUgaResponse" />
  </wsdl:message>
  <wsdl:message name="agregarFacturaHttpGetIn">
    <wsdl:part name="_proveedor" type="s:string" />
    <wsdl:part name="_facturaserie" type="s:string" />
    <wsdl:part name="_facturanumero" type="s:string" />
    <wsdl:part name="_fechafactura" type="s:string" />
    <wsdl:part name="_descripcion" type="s:string" />
    <wsdl:part name="_monto" type="s:string" />
    <wsdl:part name="_iddetalle" type="s:string" />
    <wsdl:part name="_typeStaff" type="s:string" />
    <wsdl:part name="_usuariooracle" type="s:string" />
    <wsdl:part name="_noTramite" type="s:string" />
  </wsdl:message>
  <wsdl:message name="agregarFacturaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="validarFacturaHttpGetIn">
    <wsdl:part name="_proveedor" type="s:string" />
    <wsdl:part name="_facturaserie" type="s:string" />
    <wsdl:part name="_facturanumero" type="s:string" />
  </wsdl:message>
  <wsdl:message name="validarFacturaHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="validarFacturaNitHttpGetIn">
    <wsdl:part name="_nit" type="s:string" />
    <wsdl:part name="_facturaserie" type="s:string" />
    <wsdl:part name="_facturanumero" type="s:string" />
  </wsdl:message>
  <wsdl:message name="validarFacturaNitHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="infoBancariaDocenteHttpGetIn">
    <wsdl:part name="_codpers" type="s:string" />
  </wsdl:message>
  <wsdl:message name="infoBancariaDocenteHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="validaEsDocenteHttpGetIn">
    <wsdl:part name="_codpers" type="s:string" />
  </wsdl:message>
  <wsdl:message name="validaEsDocenteHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="agregarExensionHttpGetIn">
    <wsdl:part name="_autorizacion" type="s:string" />
    <wsdl:part name="_refInterna" type="s:string" />
    <wsdl:part name="_fechaAutorizacion" type="s:string" />
    <wsdl:part name="_nit" type="s:string" />
    <wsdl:part name="_facturaSerie" type="s:string" />
    <wsdl:part name="_facturaNumero" type="s:string" />
    <wsdl:part name="_certificadorId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="agregarExensionHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="infoPagoFacturacionHttpGetIn">
    <wsdl:part name="_origen" type="s:string" />
    <wsdl:part name="_fecha" type="s:string" />
  </wsdl:message>
  <wsdl:message name="infoPagoFacturacionHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="infoPagoDetalleHttpGetIn">
    <wsdl:part name="_nomina" type="s:string" />
    <wsdl:part name="_correlativo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="infoPagoDetalleHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="insertHpagosHttpGetIn">
    <wsdl:part name="_nomina" type="s:string" />
    <wsdl:part name="_correlativo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="insertHpagosHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="insertHpagosUgaDetalleHttpGetIn">
    <wsdl:part name="_nomina" type="s:string" />
    <wsdl:part name="_correlativo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="insertHpagosUgaDetalleHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="deletePagosUgaDetalleHttpGetIn">
    <wsdl:part name="_nomina" type="s:string" />
    <wsdl:part name="_correlativo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="deletePagosUgaDetalleHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="deletePagosUgaHttpGetIn">
    <wsdl:part name="_nomina" type="s:string" />
    <wsdl:part name="_correlativo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="deletePagosUgaHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="agregarFacturaHttpPostIn">
    <wsdl:part name="_proveedor" type="s:string" />
    <wsdl:part name="_facturaserie" type="s:string" />
    <wsdl:part name="_facturanumero" type="s:string" />
    <wsdl:part name="_fechafactura" type="s:string" />
    <wsdl:part name="_descripcion" type="s:string" />
    <wsdl:part name="_monto" type="s:string" />
    <wsdl:part name="_iddetalle" type="s:string" />
    <wsdl:part name="_typeStaff" type="s:string" />
    <wsdl:part name="_usuariooracle" type="s:string" />
    <wsdl:part name="_noTramite" type="s:string" />
  </wsdl:message>
  <wsdl:message name="agregarFacturaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="validarFacturaHttpPostIn">
    <wsdl:part name="_proveedor" type="s:string" />
    <wsdl:part name="_facturaserie" type="s:string" />
    <wsdl:part name="_facturanumero" type="s:string" />
  </wsdl:message>
  <wsdl:message name="validarFacturaHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="validarFacturaNitHttpPostIn">
    <wsdl:part name="_nit" type="s:string" />
    <wsdl:part name="_facturaserie" type="s:string" />
    <wsdl:part name="_facturanumero" type="s:string" />
  </wsdl:message>
  <wsdl:message name="validarFacturaNitHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="infoBancariaDocenteHttpPostIn">
    <wsdl:part name="_codpers" type="s:string" />
  </wsdl:message>
  <wsdl:message name="infoBancariaDocenteHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="validaEsDocenteHttpPostIn">
    <wsdl:part name="_codpers" type="s:string" />
  </wsdl:message>
  <wsdl:message name="validaEsDocenteHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="agregarExensionHttpPostIn">
    <wsdl:part name="_autorizacion" type="s:string" />
    <wsdl:part name="_refInterna" type="s:string" />
    <wsdl:part name="_fechaAutorizacion" type="s:string" />
    <wsdl:part name="_nit" type="s:string" />
    <wsdl:part name="_facturaSerie" type="s:string" />
    <wsdl:part name="_facturaNumero" type="s:string" />
    <wsdl:part name="_certificadorId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="agregarExensionHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="infoPagoFacturacionHttpPostIn">
    <wsdl:part name="_origen" type="s:string" />
    <wsdl:part name="_fecha" type="s:string" />
  </wsdl:message>
  <wsdl:message name="infoPagoFacturacionHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="infoPagoDetalleHttpPostIn">
    <wsdl:part name="_nomina" type="s:string" />
    <wsdl:part name="_correlativo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="infoPagoDetalleHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="insertHpagosHttpPostIn">
    <wsdl:part name="_nomina" type="s:string" />
    <wsdl:part name="_correlativo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="insertHpagosHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="insertHpagosUgaDetalleHttpPostIn">
    <wsdl:part name="_nomina" type="s:string" />
    <wsdl:part name="_correlativo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="insertHpagosUgaDetalleHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="deletePagosUgaDetalleHttpPostIn">
    <wsdl:part name="_nomina" type="s:string" />
    <wsdl:part name="_correlativo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="deletePagosUgaDetalleHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="deletePagosUgaHttpPostIn">
    <wsdl:part name="_nomina" type="s:string" />
    <wsdl:part name="_correlativo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="deletePagosUgaHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="WSFacturasSoap">
    <wsdl:operation name="agregarFactura">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ingresa las facturas del personal</wsdl:documentation>
      <wsdl:input message="tns:agregarFacturaSoapIn" />
      <wsdl:output message="tns:agregarFacturaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="validarFactura">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Valida que la factura no exista en Dynamics</wsdl:documentation>
      <wsdl:input message="tns:validarFacturaSoapIn" />
      <wsdl:output message="tns:validarFacturaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="validarFacturaNit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Valida que la factura no exista en Dynamics por NIT</wsdl:documentation>
      <wsdl:input message="tns:validarFacturaNitSoapIn" />
      <wsdl:output message="tns:validarFacturaNitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="infoBancariaDocente">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene la informacion bancaria del docente</wsdl:documentation>
      <wsdl:input message="tns:infoBancariaDocenteSoapIn" />
      <wsdl:output message="tns:infoBancariaDocenteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="validaEsDocente">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Valida si el codpers es de docente</wsdl:documentation>
      <wsdl:input message="tns:validaEsDocenteSoapIn" />
      <wsdl:output message="tns:validaEsDocenteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="agregarExension">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Agrega las exenciones de ISR a Dynamics</wsdl:documentation>
      <wsdl:input message="tns:agregarExensionSoapIn" />
      <wsdl:output message="tns:agregarExensionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="infoPagoFacturacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna la informacion de Pagos por porfacturación</wsdl:documentation>
      <wsdl:input message="tns:infoPagoFacturacionSoapIn" />
      <wsdl:output message="tns:infoPagoFacturacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="infoPagoDetalle">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna la informacion del detalle de Pagos por porfacturación</wsdl:documentation>
      <wsdl:input message="tns:infoPagoDetalleSoapIn" />
      <wsdl:output message="tns:infoPagoDetalleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertHpagos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Inserta registros en la tabla HPAGOSUGA</wsdl:documentation>
      <wsdl:input message="tns:insertHpagosSoapIn" />
      <wsdl:output message="tns:insertHpagosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertHpagosUgaDetalle">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Inserta registros en la tabla HPAGOSUGADETALLE</wsdl:documentation>
      <wsdl:input message="tns:insertHpagosUgaDetalleSoapIn" />
      <wsdl:output message="tns:insertHpagosUgaDetalleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deletePagosUgaDetalle">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Elimina registros en la tabla PAGOSUGADETALLE</wsdl:documentation>
      <wsdl:input message="tns:deletePagosUgaDetalleSoapIn" />
      <wsdl:output message="tns:deletePagosUgaDetalleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deletePagosUga">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Elimina registros en la tabla PAGOSUGA</wsdl:documentation>
      <wsdl:input message="tns:deletePagosUgaSoapIn" />
      <wsdl:output message="tns:deletePagosUgaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSFacturasHttpGet">
    <wsdl:operation name="agregarFactura">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ingresa las facturas del personal</wsdl:documentation>
      <wsdl:input message="tns:agregarFacturaHttpGetIn" />
      <wsdl:output message="tns:agregarFacturaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="validarFactura">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Valida que la factura no exista en Dynamics</wsdl:documentation>
      <wsdl:input message="tns:validarFacturaHttpGetIn" />
      <wsdl:output message="tns:validarFacturaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="validarFacturaNit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Valida que la factura no exista en Dynamics por NIT</wsdl:documentation>
      <wsdl:input message="tns:validarFacturaNitHttpGetIn" />
      <wsdl:output message="tns:validarFacturaNitHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="infoBancariaDocente">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene la informacion bancaria del docente</wsdl:documentation>
      <wsdl:input message="tns:infoBancariaDocenteHttpGetIn" />
      <wsdl:output message="tns:infoBancariaDocenteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="validaEsDocente">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Valida si el codpers es de docente</wsdl:documentation>
      <wsdl:input message="tns:validaEsDocenteHttpGetIn" />
      <wsdl:output message="tns:validaEsDocenteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="agregarExension">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Agrega las exenciones de ISR a Dynamics</wsdl:documentation>
      <wsdl:input message="tns:agregarExensionHttpGetIn" />
      <wsdl:output message="tns:agregarExensionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="infoPagoFacturacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna la informacion de Pagos por porfacturación</wsdl:documentation>
      <wsdl:input message="tns:infoPagoFacturacionHttpGetIn" />
      <wsdl:output message="tns:infoPagoFacturacionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="infoPagoDetalle">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna la informacion del detalle de Pagos por porfacturación</wsdl:documentation>
      <wsdl:input message="tns:infoPagoDetalleHttpGetIn" />
      <wsdl:output message="tns:infoPagoDetalleHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="insertHpagos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Inserta registros en la tabla HPAGOSUGA</wsdl:documentation>
      <wsdl:input message="tns:insertHpagosHttpGetIn" />
      <wsdl:output message="tns:insertHpagosHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="insertHpagosUgaDetalle">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Inserta registros en la tabla HPAGOSUGADETALLE</wsdl:documentation>
      <wsdl:input message="tns:insertHpagosUgaDetalleHttpGetIn" />
      <wsdl:output message="tns:insertHpagosUgaDetalleHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="deletePagosUgaDetalle">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Elimina registros en la tabla PAGOSUGADETALLE</wsdl:documentation>
      <wsdl:input message="tns:deletePagosUgaDetalleHttpGetIn" />
      <wsdl:output message="tns:deletePagosUgaDetalleHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="deletePagosUga">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Elimina registros en la tabla PAGOSUGA</wsdl:documentation>
      <wsdl:input message="tns:deletePagosUgaHttpGetIn" />
      <wsdl:output message="tns:deletePagosUgaHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSFacturasHttpPost">
    <wsdl:operation name="agregarFactura">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ingresa las facturas del personal</wsdl:documentation>
      <wsdl:input message="tns:agregarFacturaHttpPostIn" />
      <wsdl:output message="tns:agregarFacturaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="validarFactura">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Valida que la factura no exista en Dynamics</wsdl:documentation>
      <wsdl:input message="tns:validarFacturaHttpPostIn" />
      <wsdl:output message="tns:validarFacturaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="validarFacturaNit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Valida que la factura no exista en Dynamics por NIT</wsdl:documentation>
      <wsdl:input message="tns:validarFacturaNitHttpPostIn" />
      <wsdl:output message="tns:validarFacturaNitHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="infoBancariaDocente">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene la informacion bancaria del docente</wsdl:documentation>
      <wsdl:input message="tns:infoBancariaDocenteHttpPostIn" />
      <wsdl:output message="tns:infoBancariaDocenteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="validaEsDocente">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Valida si el codpers es de docente</wsdl:documentation>
      <wsdl:input message="tns:validaEsDocenteHttpPostIn" />
      <wsdl:output message="tns:validaEsDocenteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="agregarExension">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Agrega las exenciones de ISR a Dynamics</wsdl:documentation>
      <wsdl:input message="tns:agregarExensionHttpPostIn" />
      <wsdl:output message="tns:agregarExensionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="infoPagoFacturacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna la informacion de Pagos por porfacturación</wsdl:documentation>
      <wsdl:input message="tns:infoPagoFacturacionHttpPostIn" />
      <wsdl:output message="tns:infoPagoFacturacionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="infoPagoDetalle">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna la informacion del detalle de Pagos por porfacturación</wsdl:documentation>
      <wsdl:input message="tns:infoPagoDetalleHttpPostIn" />
      <wsdl:output message="tns:infoPagoDetalleHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="insertHpagos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Inserta registros en la tabla HPAGOSUGA</wsdl:documentation>
      <wsdl:input message="tns:insertHpagosHttpPostIn" />
      <wsdl:output message="tns:insertHpagosHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="insertHpagosUgaDetalle">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Inserta registros en la tabla HPAGOSUGADETALLE</wsdl:documentation>
      <wsdl:input message="tns:insertHpagosUgaDetalleHttpPostIn" />
      <wsdl:output message="tns:insertHpagosUgaDetalleHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="deletePagosUgaDetalle">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Elimina registros en la tabla PAGOSUGADETALLE</wsdl:documentation>
      <wsdl:input message="tns:deletePagosUgaDetalleHttpPostIn" />
      <wsdl:output message="tns:deletePagosUgaDetalleHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="deletePagosUga">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Elimina registros en la tabla PAGOSUGA</wsdl:documentation>
      <wsdl:input message="tns:deletePagosUgaHttpPostIn" />
      <wsdl:output message="tns:deletePagosUgaHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSFacturasSoap" type="tns:WSFacturasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="agregarFactura">
      <soap:operation soapAction="http://tempuri.org/agregarFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarFactura">
      <soap:operation soapAction="http://tempuri.org/validarFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarFacturaNit">
      <soap:operation soapAction="http://tempuri.org/validarFacturaNit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="infoBancariaDocente">
      <soap:operation soapAction="http://tempuri.org/infoBancariaDocente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validaEsDocente">
      <soap:operation soapAction="http://tempuri.org/validaEsDocente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarExension">
      <soap:operation soapAction="http://tempuri.org/agregarExension" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="infoPagoFacturacion">
      <soap:operation soapAction="http://tempuri.org/infoPagoFacturacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="infoPagoDetalle">
      <soap:operation soapAction="http://tempuri.org/infoPagoDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertHpagos">
      <soap:operation soapAction="http://tempuri.org/insertHpagos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertHpagosUgaDetalle">
      <soap:operation soapAction="http://tempuri.org/insertHpagosUgaDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePagosUgaDetalle">
      <soap:operation soapAction="http://tempuri.org/deletePagosUgaDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePagosUga">
      <soap:operation soapAction="http://tempuri.org/deletePagosUga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSFacturasSoap12" type="tns:WSFacturasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="agregarFactura">
      <soap12:operation soapAction="http://tempuri.org/agregarFactura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarFactura">
      <soap12:operation soapAction="http://tempuri.org/validarFactura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarFacturaNit">
      <soap12:operation soapAction="http://tempuri.org/validarFacturaNit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="infoBancariaDocente">
      <soap12:operation soapAction="http://tempuri.org/infoBancariaDocente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validaEsDocente">
      <soap12:operation soapAction="http://tempuri.org/validaEsDocente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarExension">
      <soap12:operation soapAction="http://tempuri.org/agregarExension" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="infoPagoFacturacion">
      <soap12:operation soapAction="http://tempuri.org/infoPagoFacturacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="infoPagoDetalle">
      <soap12:operation soapAction="http://tempuri.org/infoPagoDetalle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertHpagos">
      <soap12:operation soapAction="http://tempuri.org/insertHpagos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertHpagosUgaDetalle">
      <soap12:operation soapAction="http://tempuri.org/insertHpagosUgaDetalle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePagosUgaDetalle">
      <soap12:operation soapAction="http://tempuri.org/deletePagosUgaDetalle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePagosUga">
      <soap12:operation soapAction="http://tempuri.org/deletePagosUga" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSFacturasHttpGet" type="tns:WSFacturasHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="agregarFactura">
      <http:operation location="/agregarFactura" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarFactura">
      <http:operation location="/validarFactura" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarFacturaNit">
      <http:operation location="/validarFacturaNit" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="infoBancariaDocente">
      <http:operation location="/infoBancariaDocente" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validaEsDocente">
      <http:operation location="/validaEsDocente" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarExension">
      <http:operation location="/agregarExension" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="infoPagoFacturacion">
      <http:operation location="/infoPagoFacturacion" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="infoPagoDetalle">
      <http:operation location="/infoPagoDetalle" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertHpagos">
      <http:operation location="/insertHpagos" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertHpagosUgaDetalle">
      <http:operation location="/insertHpagosUgaDetalle" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePagosUgaDetalle">
      <http:operation location="/deletePagosUgaDetalle" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePagosUga">
      <http:operation location="/deletePagosUga" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSFacturasHttpPost" type="tns:WSFacturasHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="agregarFactura">
      <http:operation location="/agregarFactura" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarFactura">
      <http:operation location="/validarFactura" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarFacturaNit">
      <http:operation location="/validarFacturaNit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="infoBancariaDocente">
      <http:operation location="/infoBancariaDocente" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validaEsDocente">
      <http:operation location="/validaEsDocente" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarExension">
      <http:operation location="/agregarExension" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="infoPagoFacturacion">
      <http:operation location="/infoPagoFacturacion" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="infoPagoDetalle">
      <http:operation location="/infoPagoDetalle" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertHpagos">
      <http:operation location="/insertHpagos" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertHpagosUgaDetalle">
      <http:operation location="/insertHpagosUgaDetalle" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePagosUgaDetalle">
      <http:operation location="/deletePagosUgaDetalle" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePagosUga">
      <http:operation location="/deletePagosUga" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSFacturas">
    <wsdl:port name="WSFacturasSoap" binding="tns:WSFacturasSoap">
      <soap:address location="http://10.0.3.71/ws/WSFacturas.asmx" />
    </wsdl:port>
    <wsdl:port name="WSFacturasSoap12" binding="tns:WSFacturasSoap12">
      <soap12:address location="http://10.0.3.71/ws/WSFacturas.asmx" />
    </wsdl:port>
    <wsdl:port name="WSFacturasHttpGet" binding="tns:WSFacturasHttpGet">
      <http:address location="http://10.0.3.71/ws/WSFacturas.asmx" />
    </wsdl:port>
    <wsdl:port name="WSFacturasHttpPost" binding="tns:WSFacturasHttpPost">
      <http:address location="http://10.0.3.71/ws/WSFacturas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>