ServiciosDynamics.WebApi/Web References/WSFacturas/WSFacturas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://galileo.edu/dynamicsax/facturas" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://galileo.edu/dynamicsax/facturas" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://galileo.edu/dynamicsax/facturas">
      <s:element name="agregarFactura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_proveedor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_facturaserie" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_facturanumero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_fechafactura" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_descripcion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_monto" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="_iddetalle" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_typeStaff" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_usuariooracle" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="agregarFacturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agregarFacturaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validarFactura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_proveedor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_facturaserie" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_facturanumero" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validarFacturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="validarFacturaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="infoBancariaDocente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_codpers" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="infoBancariaDocenteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="infoBancariaDocenteResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="agregarFacturaSoapIn">
    <wsdl:part name="parameters" element="tns:agregarFactura" />
  </wsdl:message>
  <wsdl:message name="agregarFacturaSoapOut">
    <wsdl:part name="parameters" element="tns:agregarFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="validarFacturaSoapIn">
    <wsdl:part name="parameters" element="tns:validarFactura" />
  </wsdl:message>
  <wsdl:message name="validarFacturaSoapOut">
    <wsdl:part name="parameters" element="tns:validarFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="infoBancariaDocenteSoapIn">
    <wsdl:part name="parameters" element="tns:infoBancariaDocente" />
  </wsdl:message>
  <wsdl:message name="infoBancariaDocenteSoapOut">
    <wsdl:part name="parameters" element="tns:infoBancariaDocenteResponse" />
  </wsdl:message>
  <wsdl:portType name="WSFacturasSoap">
    <wsdl:operation name="agregarFactura">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ingresa las facturas del personal</wsdl:documentation>
      <wsdl:input message="tns:agregarFacturaSoapIn" />
      <wsdl:output message="tns:agregarFacturaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="validarFactura">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Valida que la factura no exista en Dynamics</wsdl:documentation>
      <wsdl:input message="tns:validarFacturaSoapIn" />
      <wsdl:output message="tns:validarFacturaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="infoBancariaDocente">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene la informacion bancaria del docente</wsdl:documentation>
      <wsdl:input message="tns:infoBancariaDocenteSoapIn" />
      <wsdl:output message="tns:infoBancariaDocenteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSFacturasSoap" type="tns:WSFacturasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="agregarFactura">
      <soap:operation soapAction="http://galileo.edu/dynamicsax/facturas/agregarFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarFactura">
      <soap:operation soapAction="http://galileo.edu/dynamicsax/facturas/validarFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="infoBancariaDocente">
      <soap:operation soapAction="http://galileo.edu/dynamicsax/facturas/infoBancariaDocente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSFacturasSoap12" type="tns:WSFacturasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="agregarFactura">
      <soap12:operation soapAction="http://galileo.edu/dynamicsax/facturas/agregarFactura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarFactura">
      <soap12:operation soapAction="http://galileo.edu/dynamicsax/facturas/validarFactura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="infoBancariaDocente">
      <soap12:operation soapAction="http://galileo.edu/dynamicsax/facturas/infoBancariaDocente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSFacturas">
    <wsdl:port name="WSFacturasSoap" binding="tns:WSFacturasSoap">
      <soap:address location="http://srvdynamicsdesa/ws/WSFacturas.asmx" />
    </wsdl:port>
    <wsdl:port name="WSFacturasSoap12" binding="tns:WSFacturasSoap12">
      <soap12:address location="http://srvdynamicsdesa/ws/WSFacturas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>