ServiciosDynamics.WebApi/Web References/WSFacturas/WSFacturas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://galileo.edu/dynamicsax/facturas" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://galileo.edu/dynamicsax/facturas" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://galileo.edu/dynamicsax/facturas">
      <s:element name="agregarFactura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_proveedor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_facturaserie" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_facturanumero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_fechafactura" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_descripcion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_monto" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="_iddetalle" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_typeStaff" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_usuariooracle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_noTramite" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="agregarFacturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agregarFacturaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validarFactura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_proveedor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_facturaserie" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_facturanumero" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validarFacturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="validarFacturaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validarFacturaNit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_nit" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_facturaserie" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_facturanumero" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validarFacturaNitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="validarFacturaNitResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="infoBancariaDocente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_codpers" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="infoBancariaDocenteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="infoBancariaDocenteResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validaEsDocente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_codpers" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validaEsDocenteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="validaEsDocenteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="infoPagoFacturacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_origen" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_fecha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="infoPagoFacturacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="infoPagoFacturacionResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="infoPagoDetalle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_nomina" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_correlativo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="infoPagoDetalleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="infoPagoDetalleResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertHpagos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_nomina" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_correlativo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertHpagosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertHpagosResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertHpagosUgaDetalle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_nomina" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_correlativo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertHpagosUgaDetalleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertHpagosUgaDetalleResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deletePagosUgaDetalle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_nomina" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_correlativo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deletePagosUgaDetalleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deletePagosUgaDetalleResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deletePagosUga">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_nomina" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_correlativo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deletePagosUgaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deletePagosUgaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="agregarFacturaSoapIn">
    <wsdl:part name="parameters" element="tns:agregarFactura" />
  </wsdl:message>
  <wsdl:message name="agregarFacturaSoapOut">
    <wsdl:part name="parameters" element="tns:agregarFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="validarFacturaSoapIn">
    <wsdl:part name="parameters" element="tns:validarFactura" />
  </wsdl:message>
  <wsdl:message name="validarFacturaSoapOut">
    <wsdl:part name="parameters" element="tns:validarFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="validarFacturaNitSoapIn">
    <wsdl:part name="parameters" element="tns:validarFacturaNit" />
  </wsdl:message>
  <wsdl:message name="validarFacturaNitSoapOut">
    <wsdl:part name="parameters" element="tns:validarFacturaNitResponse" />
  </wsdl:message>
  <wsdl:message name="infoBancariaDocenteSoapIn">
    <wsdl:part name="parameters" element="tns:infoBancariaDocente" />
  </wsdl:message>
  <wsdl:message name="infoBancariaDocenteSoapOut">
    <wsdl:part name="parameters" element="tns:infoBancariaDocenteResponse" />
  </wsdl:message>
  <wsdl:message name="validaEsDocenteSoapIn">
    <wsdl:part name="parameters" element="tns:validaEsDocente" />
  </wsdl:message>
  <wsdl:message name="validaEsDocenteSoapOut">
    <wsdl:part name="parameters" element="tns:validaEsDocenteResponse" />
  </wsdl:message>
  <wsdl:message name="infoPagoFacturacionSoapIn">
    <wsdl:part name="parameters" element="tns:infoPagoFacturacion" />
  </wsdl:message>
  <wsdl:message name="infoPagoFacturacionSoapOut">
    <wsdl:part name="parameters" element="tns:infoPagoFacturacionResponse" />
  </wsdl:message>
  <wsdl:message name="infoPagoDetalleSoapIn">
    <wsdl:part name="parameters" element="tns:infoPagoDetalle" />
  </wsdl:message>
  <wsdl:message name="infoPagoDetalleSoapOut">
    <wsdl:part name="parameters" element="tns:infoPagoDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="insertHpagosSoapIn">
    <wsdl:part name="parameters" element="tns:insertHpagos" />
  </wsdl:message>
  <wsdl:message name="insertHpagosSoapOut">
    <wsdl:part name="parameters" element="tns:insertHpagosResponse" />
  </wsdl:message>
  <wsdl:message name="insertHpagosUgaDetalleSoapIn">
    <wsdl:part name="parameters" element="tns:insertHpagosUgaDetalle" />
  </wsdl:message>
  <wsdl:message name="insertHpagosUgaDetalleSoapOut">
    <wsdl:part name="parameters" element="tns:insertHpagosUgaDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="deletePagosUgaDetalleSoapIn">
    <wsdl:part name="parameters" element="tns:deletePagosUgaDetalle" />
  </wsdl:message>
  <wsdl:message name="deletePagosUgaDetalleSoapOut">
    <wsdl:part name="parameters" element="tns:deletePagosUgaDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="deletePagosUgaSoapIn">
    <wsdl:part name="parameters" element="tns:deletePagosUga" />
  </wsdl:message>
  <wsdl:message name="deletePagosUgaSoapOut">
    <wsdl:part name="parameters" element="tns:deletePagosUgaResponse" />
  </wsdl:message>
  <wsdl:portType name="WSFacturasSoap">
    <wsdl:operation name="agregarFactura">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ingresa las facturas del personal</wsdl:documentation>
      <wsdl:input message="tns:agregarFacturaSoapIn" />
      <wsdl:output message="tns:agregarFacturaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="validarFactura">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Valida que la factura no exista en Dynamics</wsdl:documentation>
      <wsdl:input message="tns:validarFacturaSoapIn" />
      <wsdl:output message="tns:validarFacturaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="validarFacturaNit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Valida que la factura no exista en Dynamics por NIT</wsdl:documentation>
      <wsdl:input message="tns:validarFacturaNitSoapIn" />
      <wsdl:output message="tns:validarFacturaNitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="infoBancariaDocente">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene la informacion bancaria del docente</wsdl:documentation>
      <wsdl:input message="tns:infoBancariaDocenteSoapIn" />
      <wsdl:output message="tns:infoBancariaDocenteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="validaEsDocente">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Valida si el codpers es de docente</wsdl:documentation>
      <wsdl:input message="tns:validaEsDocenteSoapIn" />
      <wsdl:output message="tns:validaEsDocenteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="infoPagoFacturacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna la informacion de Pagos por porfacturación</wsdl:documentation>
      <wsdl:input message="tns:infoPagoFacturacionSoapIn" />
      <wsdl:output message="tns:infoPagoFacturacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="infoPagoDetalle">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna la informacion del detalle de Pagos por porfacturación</wsdl:documentation>
      <wsdl:input message="tns:infoPagoDetalleSoapIn" />
      <wsdl:output message="tns:infoPagoDetalleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertHpagos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Inserta registros en la tabla HPAGOSUGA</wsdl:documentation>
      <wsdl:input message="tns:insertHpagosSoapIn" />
      <wsdl:output message="tns:insertHpagosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertHpagosUgaDetalle">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Inserta registros en la tabla HPAGOSUGADETALLE</wsdl:documentation>
      <wsdl:input message="tns:insertHpagosUgaDetalleSoapIn" />
      <wsdl:output message="tns:insertHpagosUgaDetalleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deletePagosUgaDetalle">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Elimina registros en la tabla PAGOSUGADETALLE</wsdl:documentation>
      <wsdl:input message="tns:deletePagosUgaDetalleSoapIn" />
      <wsdl:output message="tns:deletePagosUgaDetalleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deletePagosUga">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Elimina registros en la tabla PAGOSUGA</wsdl:documentation>
      <wsdl:input message="tns:deletePagosUgaSoapIn" />
      <wsdl:output message="tns:deletePagosUgaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSFacturasSoap" type="tns:WSFacturasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="agregarFactura">
      <soap:operation soapAction="http://galileo.edu/dynamicsax/facturas/agregarFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarFactura">
      <soap:operation soapAction="http://galileo.edu/dynamicsax/facturas/validarFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarFacturaNit">
      <soap:operation soapAction="http://galileo.edu/dynamicsax/facturas/validarFacturaNit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="infoBancariaDocente">
      <soap:operation soapAction="http://galileo.edu/dynamicsax/facturas/infoBancariaDocente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validaEsDocente">
      <soap:operation soapAction="http://galileo.edu/dynamicsax/facturas/validaEsDocente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="infoPagoFacturacion">
      <soap:operation soapAction="http://galileo.edu/dynamicsax/facturas/infoPagoFacturacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="infoPagoDetalle">
      <soap:operation soapAction="http://galileo.edu/dynamicsax/facturas/infoPagoDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertHpagos">
      <soap:operation soapAction="http://galileo.edu/dynamicsax/facturas/insertHpagos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertHpagosUgaDetalle">
      <soap:operation soapAction="http://galileo.edu/dynamicsax/facturas/insertHpagosUgaDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePagosUgaDetalle">
      <soap:operation soapAction="http://galileo.edu/dynamicsax/facturas/deletePagosUgaDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePagosUga">
      <soap:operation soapAction="http://galileo.edu/dynamicsax/facturas/deletePagosUga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSFacturasSoap12" type="tns:WSFacturasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="agregarFactura">
      <soap12:operation soapAction="http://galileo.edu/dynamicsax/facturas/agregarFactura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarFactura">
      <soap12:operation soapAction="http://galileo.edu/dynamicsax/facturas/validarFactura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarFacturaNit">
      <soap12:operation soapAction="http://galileo.edu/dynamicsax/facturas/validarFacturaNit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="infoBancariaDocente">
      <soap12:operation soapAction="http://galileo.edu/dynamicsax/facturas/infoBancariaDocente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validaEsDocente">
      <soap12:operation soapAction="http://galileo.edu/dynamicsax/facturas/validaEsDocente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="infoPagoFacturacion">
      <soap12:operation soapAction="http://galileo.edu/dynamicsax/facturas/infoPagoFacturacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="infoPagoDetalle">
      <soap12:operation soapAction="http://galileo.edu/dynamicsax/facturas/infoPagoDetalle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertHpagos">
      <soap12:operation soapAction="http://galileo.edu/dynamicsax/facturas/insertHpagos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertHpagosUgaDetalle">
      <soap12:operation soapAction="http://galileo.edu/dynamicsax/facturas/insertHpagosUgaDetalle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePagosUgaDetalle">
      <soap12:operation soapAction="http://galileo.edu/dynamicsax/facturas/deletePagosUgaDetalle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePagosUga">
      <soap12:operation soapAction="http://galileo.edu/dynamicsax/facturas/deletePagosUga" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSFacturas">
    <wsdl:port name="WSFacturasSoap" binding="tns:WSFacturasSoap">
      <soap:address location="http://10.0.3.71/ws/WSFacturas.asmx" />
    </wsdl:port>
    <wsdl:port name="WSFacturasSoap12" binding="tns:WSFacturasSoap12">
      <soap12:address location="http://10.0.3.71/ws/WSFacturas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>