ServiciosDynamics.WebApi/Web References/WSLibreria/WSLibreria.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="nombreAlumno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_carne" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="nombreAlumnoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombreAlumnoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cursosAsigAlumno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_carne" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cursosAsigAlumnoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cursosAsigAlumnoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createSalesOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_detalleLibros" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createSalesOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="createSalesOrderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cancelSalesOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_recibo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cancelSalesOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cancelSalesOrderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="nombreAlumnoSoapIn">
    <wsdl:part name="parameters" element="tns:nombreAlumno" />
  </wsdl:message>
  <wsdl:message name="nombreAlumnoSoapOut">
    <wsdl:part name="parameters" element="tns:nombreAlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="cursosAsigAlumnoSoapIn">
    <wsdl:part name="parameters" element="tns:cursosAsigAlumno" />
  </wsdl:message>
  <wsdl:message name="cursosAsigAlumnoSoapOut">
    <wsdl:part name="parameters" element="tns:cursosAsigAlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="createSalesOrderSoapIn">
    <wsdl:part name="parameters" element="tns:createSalesOrder" />
  </wsdl:message>
  <wsdl:message name="createSalesOrderSoapOut">
    <wsdl:part name="parameters" element="tns:createSalesOrderResponse" />
  </wsdl:message>
  <wsdl:message name="cancelSalesOrderSoapIn">
    <wsdl:part name="parameters" element="tns:cancelSalesOrder" />
  </wsdl:message>
  <wsdl:message name="cancelSalesOrderSoapOut">
    <wsdl:part name="parameters" element="tns:cancelSalesOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="WSLibreriaSoap">
    <wsdl:operation name="nombreAlumno">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene el nombre del alumno</wsdl:documentation>
      <wsdl:input message="tns:nombreAlumnoSoapIn" />
      <wsdl:output message="tns:nombreAlumnoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cursosAsigAlumno">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtienelos cursos asignados del alumno</wsdl:documentation>
      <wsdl:input message="tns:cursosAsigAlumnoSoapIn" />
      <wsdl:output message="tns:cursosAsigAlumnoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="createSalesOrder">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Crea las ordenes de venta para rebaja de inventario</wsdl:documentation>
      <wsdl:input message="tns:createSalesOrderSoapIn" />
      <wsdl:output message="tns:createSalesOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cancelSalesOrder">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Anula las ordenes de venta para devolver el inventario</wsdl:documentation>
      <wsdl:input message="tns:cancelSalesOrderSoapIn" />
      <wsdl:output message="tns:cancelSalesOrderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSLibreriaSoap" type="tns:WSLibreriaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nombreAlumno">
      <soap:operation soapAction="http://tempuri.org/nombreAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cursosAsigAlumno">
      <soap:operation soapAction="http://tempuri.org/cursosAsigAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createSalesOrder">
      <soap:operation soapAction="http://tempuri.org/createSalesOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelSalesOrder">
      <soap:operation soapAction="http://tempuri.org/cancelSalesOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSLibreriaSoap12" type="tns:WSLibreriaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nombreAlumno">
      <soap12:operation soapAction="http://tempuri.org/nombreAlumno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cursosAsigAlumno">
      <soap12:operation soapAction="http://tempuri.org/cursosAsigAlumno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createSalesOrder">
      <soap12:operation soapAction="http://tempuri.org/createSalesOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelSalesOrder">
      <soap12:operation soapAction="http://tempuri.org/cancelSalesOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSLibreria">
    <wsdl:port name="WSLibreriaSoap" binding="tns:WSLibreriaSoap">
      <soap:address location="http://localhost:13826/WSLibreria.asmx" />
    </wsdl:port>
    <wsdl:port name="WSLibreriaSoap12" binding="tns:WSLibreriaSoap12">
      <soap12:address location="http://localhost:13826/WSLibreria.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>