ServiciosDynamics.WebApi/Web References/WSVacaciones/wsvacaciones.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Buscar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_txtBusqueda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="periodosVacaciones">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_correlativo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_dias" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_startDate" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_periodos" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="periodosVacacionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="periodosVacacionesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validaPeriodos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_correlativo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_dias" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_startDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validaPeriodosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="validaPeriodosResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DatosEmpleadosVacaciones">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_correlativo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DatosEmpleadosVacacionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DatosEmpleadosVacacionesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="generarVacacionDynamics">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_correlativo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_dias" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_startDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_usuarioOracle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_solicitudTramite" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="generarVacacionDynamicsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="generarVacacionDynamicsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BuscarSoapIn">
    <wsdl:part name="parameters" element="tns:Buscar" />
  </wsdl:message>
  <wsdl:message name="BuscarSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarResponse" />
  </wsdl:message>
  <wsdl:message name="periodosVacacionesSoapIn">
    <wsdl:part name="parameters" element="tns:periodosVacaciones" />
  </wsdl:message>
  <wsdl:message name="periodosVacacionesSoapOut">
    <wsdl:part name="parameters" element="tns:periodosVacacionesResponse" />
  </wsdl:message>
  <wsdl:message name="validaPeriodosSoapIn">
    <wsdl:part name="parameters" element="tns:validaPeriodos" />
  </wsdl:message>
  <wsdl:message name="validaPeriodosSoapOut">
    <wsdl:part name="parameters" element="tns:validaPeriodosResponse" />
  </wsdl:message>
  <wsdl:message name="DatosEmpleadosVacacionesSoapIn">
    <wsdl:part name="parameters" element="tns:DatosEmpleadosVacaciones" />
  </wsdl:message>
  <wsdl:message name="DatosEmpleadosVacacionesSoapOut">
    <wsdl:part name="parameters" element="tns:DatosEmpleadosVacacionesResponse" />
  </wsdl:message>
  <wsdl:message name="generarVacacionDynamicsSoapIn">
    <wsdl:part name="parameters" element="tns:generarVacacionDynamics" />
  </wsdl:message>
  <wsdl:message name="generarVacacionDynamicsSoapOut">
    <wsdl:part name="parameters" element="tns:generarVacacionDynamicsResponse" />
  </wsdl:message>
  <wsdl:portType name="WSVacacionesSoap">
    <wsdl:operation name="Buscar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Busca empleados para las vacaciones web</wsdl:documentation>
      <wsdl:input message="tns:BuscarSoapIn" />
      <wsdl:output message="tns:BuscarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="periodosVacaciones">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Listados de periodos para la solicitud de vacaciones</wsdl:documentation>
      <wsdl:input message="tns:periodosVacacionesSoapIn" />
      <wsdl:output message="tns:periodosVacacionesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="validaPeriodos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Valida si hay trasalape para la solicitud de vacaciones</wsdl:documentation>
      <wsdl:input message="tns:validaPeriodosSoapIn" />
      <wsdl:output message="tns:validaPeriodosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DatosEmpleadosVacaciones">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Busca un empleado especifico para las vacaciones web</wsdl:documentation>
      <wsdl:input message="tns:DatosEmpleadosVacacionesSoapIn" />
      <wsdl:output message="tns:DatosEmpleadosVacacionesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="generarVacacionDynamics">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Genera la vacacion en Dynamics</wsdl:documentation>
      <wsdl:input message="tns:generarVacacionDynamicsSoapIn" />
      <wsdl:output message="tns:generarVacacionDynamicsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSVacacionesSoap" type="tns:WSVacacionesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Buscar">
      <soap:operation soapAction="http://tempuri.org/Buscar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="periodosVacaciones">
      <soap:operation soapAction="http://tempuri.org/periodosVacaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validaPeriodos">
      <soap:operation soapAction="http://tempuri.org/validaPeriodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DatosEmpleadosVacaciones">
      <soap:operation soapAction="http://tempuri.org/DatosEmpleadosVacaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generarVacacionDynamics">
      <soap:operation soapAction="http://tempuri.org/generarVacacionDynamics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSVacacionesSoap12" type="tns:WSVacacionesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Buscar">
      <soap12:operation soapAction="http://tempuri.org/Buscar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="periodosVacaciones">
      <soap12:operation soapAction="http://tempuri.org/periodosVacaciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validaPeriodos">
      <soap12:operation soapAction="http://tempuri.org/validaPeriodos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DatosEmpleadosVacaciones">
      <soap12:operation soapAction="http://tempuri.org/DatosEmpleadosVacaciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generarVacacionDynamics">
      <soap12:operation soapAction="http://tempuri.org/generarVacacionDynamics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSVacaciones">
    <wsdl:port name="WSVacacionesSoap" binding="tns:WSVacacionesSoap">
      <soap:address location="http://10.0.3.71/ws/wsvacaciones.asmx" />
    </wsdl:port>
    <wsdl:port name="WSVacacionesSoap12" binding="tns:WSVacacionesSoap12">
      <soap12:address location="http://10.0.3.71/ws/wsvacaciones.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>