ServiciosDynamics.WebApi/Web References/WSDocentes/WSDocentes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="nuevoTutorDocenteDAX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_orig" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_nit" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_codigo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_nacional" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="_usuarioOracle" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="nuevoTutorDocenteDAXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nuevoTutorDocenteDAXResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="exiteDocenteDynamics">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_nit" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="exiteDocenteDynamicsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="exiteDocenteDynamicsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="nuevoTutorDocenteDAXSoapIn">
    <wsdl:part name="parameters" element="tns:nuevoTutorDocenteDAX" />
  </wsdl:message>
  <wsdl:message name="nuevoTutorDocenteDAXSoapOut">
    <wsdl:part name="parameters" element="tns:nuevoTutorDocenteDAXResponse" />
  </wsdl:message>
  <wsdl:message name="exiteDocenteDynamicsSoapIn">
    <wsdl:part name="parameters" element="tns:exiteDocenteDynamics" />
  </wsdl:message>
  <wsdl:message name="exiteDocenteDynamicsSoapOut">
    <wsdl:part name="parameters" element="tns:exiteDocenteDynamicsResponse" />
  </wsdl:message>
  <wsdl:portType name="WSDocentesSoap">
    <wsdl:operation name="nuevoTutorDocenteDAX">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ingresa los docentes y tutores según su numero de NIT</wsdl:documentation>
      <wsdl:input message="tns:nuevoTutorDocenteDAXSoapIn" />
      <wsdl:output message="tns:nuevoTutorDocenteDAXSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="exiteDocenteDynamics">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Valida si el docente existe en Dynamics por el NIT</wsdl:documentation>
      <wsdl:input message="tns:exiteDocenteDynamicsSoapIn" />
      <wsdl:output message="tns:exiteDocenteDynamicsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDocentesSoap" type="tns:WSDocentesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nuevoTutorDocenteDAX">
      <soap:operation soapAction="http://tempuri.org/nuevoTutorDocenteDAX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exiteDocenteDynamics">
      <soap:operation soapAction="http://tempuri.org/exiteDocenteDynamics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDocentesSoap12" type="tns:WSDocentesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nuevoTutorDocenteDAX">
      <soap12:operation soapAction="http://tempuri.org/nuevoTutorDocenteDAX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exiteDocenteDynamics">
      <soap12:operation soapAction="http://tempuri.org/exiteDocenteDynamics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSDocentes">
    <wsdl:port name="WSDocentesSoap" binding="tns:WSDocentesSoap">
      <soap:address location="http://10.0.3.71/ws/WSDocentes.asmx" />
    </wsdl:port>
    <wsdl:port name="WSDocentesSoap12" binding="tns:WSDocentesSoap12">
      <soap12:address location="http://10.0.3.71/ws/WSDocentes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>